<!DOCTYPE html>
<html>
<head>
<title>Storm Mining - Cloud Mining & Faucet -</title>
<link rel="stylesheet" type="text/css" href="styles.css">
<link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
</head>
<body>
<div id="main-div">
<header>
<div id="name">
<h1><a href="/">Storm <span id="name-span">Mining</span></a></h1>
<p>All in one multicoin Mining & Faucet.</p>
</div>
<div id="menu" >
<h2 class="pos-menu"><a href="/about">About Company</a></h2>
<h2 class="pos-menu"><a href="/faq">FAQ</a></h2>
<h2 class="pos-menu"><a href="/help">Help</a></h2>
</div>
<div id="dashboard">
<button><a href="/dashboard">Dashboard</a></button>
</div>
</header>

<div id="miningfeatures">
<h1 id="features_h1">MINING FEATURES</h1>

<section class="section" id="section1">

<div id="cryptoName1"><p>Minimum Hashrate 2500 GH/s</p><p>(0.001 USD/GHs)</p>Bitcoin<div id="crypto1">
<span id="btc">0.00000000</span>......... BTC</div></div>

<div id="cryptoName2"><p>Minimum Hashrate 140 MH/s</p><p>(0.02 USD/MHs)</p>Litecoin<div id="crypto2">
<span id="ltc">0.00000000</span>......... LTC</div></div>

<div id="cryptoName3"><p>Minimum Hashrate 140 MH/s</p><p>(0.02 USD/MHs)</p>Dogecoin<div id="crypto3">
<span id="doge">0.00000000</span>......... DOGE</div></div>

</section>

<section class="section1_2">

<div><ion-icon name="logo-bitcoin" class="big-icon"></ion-icon><h3 class="big">Free Crypto</h3><p>You Can Start With Your Free Account!!! With Our Muilticoin Faucet</p></div>
<div><ion-icon name="git-compare" class="big-icon"></ion-icon><h3 class="big">Mining Algorithms</h3><p>SHA-256 & SCRYPT</p></div>
<div><ion-icon name="cash" class="big-icon"></ion-icon><h3 class="big">Withdraw Deposit</h3><p>You can withdraw to any address in BTC, LTC & DOGE network or deposit your BTC, LTC & DOGE to your account to earn interest 6%</p></div>

</section>
</div>

<div id="faucetfeatures">
<section class="section1_2.1">
<div></div>
<div></div>
</section>
</div>

<div id="statistic">
<h3 id="statistic_h1">PROJECT STATISTICS</h3>
<section class="section1_3">

<div class="statistic_div"><ion-icon name="calendar" class="statistic_icon"></ion-icon><h1><span>0</span> DAYS</h1><p>IN WORK</p></div>
<div class="statistic_div"><ion-icon name="cash" class="statistic_icon"></ion-icon><h1><span>0</span> USD</h1><p>INVESTED</p></div>
<div class="statistic_div"><ion-icon name="person" class="statistic_icon"></ion-icon><h1><span>0</span> USERS</h1><p>USERS</p></div>
<div class="statistic_div"><ion-icon name="wallet" class="statistic_icon"></ion-icon><h1><span>0</span> USD</h1><p>PAID</p></div>

</section>
</div>

<section class="section"></section>
<footer></footer>
</div>
<script src="index.js"></script>
<script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
</body>
</html>