@import url('https://fonts.googleapis.com/css?family=Alatsi|Calistoga&display=swap');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap');

* {
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-family: 'Alatsi', sans-serif;
	color: black;
	background-color: #f6da63;
}

#main-div {
	display: grid;
	padding: 60px;
}

/*********************** HEADER ***********************/

header {
	display: grid;
	grid-template-columns: 40% 36% 13.7%;
}

#name h1 a{
	font-size: 45px;
	font-family: 'Calistoga', cursive;
	letter-spacing: 3px;
	text-decoration: none; 
	color: #9d0b0b;
}

#name h1 {
	text-align: center;
}

#name-span {
	background-color: #da2d2d;
	color: #f6da63;
	font-size: 45px;
	font-family: 'Abril Fatface', cursive;
	letter-spacing: 5px;
	padding: 5px;
	border-radius: 10px;
}

#name p {
	margin-top: 10px;
	text-align: center;
	color: #9d0b0b;
}

#menu {
	display: grid;
	grid-template-columns: 40% 23.33% 23.33%;
	grid-column-gap: 0px;
}

#menu h2 a {
	font-size: 25px;
	text-align: center;
	border-bottom: none;
	color: #9d0b0b;
	text-decoration: none;
	transition: border-bottom 0.2s, border-left 0.2s;
}

#menu h2 a:hover {
	border-bottom: 4px solid #9d0b0b;
	border-left: 4px solid #9d0b0b;
}

#menu h2 {
	text-align: center;
	margin-top: 15px;
}

#dashboard button {
	background-color: #f6da63;
	text-align: center;
	border: 4px solid #da2d2d;
	border-radius: 10px;
	padding: 1px;
	transition: box-shadow 0.5s, background-color 0.5s;
}

#dashboard button a{
	font-size: 35px;
	text-decoration: none;
	color: #da2d2d;
	transition: background-color 0.5s, color 0.5s;
	font-family: 'Abril Fatface', cursive;
	letter-spacing: 4px;
}

#dashboard button a:hover {
	color: #f6da63;
	background-color: #da2d2d;
}


#dashboard button:hover {
	box-shadow: 0px 0px 15px #9d0b0b;
	background-color: #da2d2d;
	border: 4px solid #da2d2d;
}
/*********************** HEADER ***********************/

/*********************** SECTION 1_1 ***********************/

#miningfeatures {
	border: 5px solid #da2d2d;
	margin-top: 150px;
	padding: 50px;
	border-radius: 20px;
	text-align: center;
	transition: box-shadow 0.8s;
}

#miningfeatures:hover {
	box-shadow: 0px 0px 15px #da2d2d;
}

#features_h1 {
	text-align: center;
	font-size: 40px;
	color: #9d0b0b;
}

#features-icon {
	font-size: 40px;
	color: #004445;
}

#section1 {
	display: grid;
	grid-template-columns: 33% 33% 33%;
	grid-column-gap: 3px;
	text-align: center;
	margin-top: 50px;
}

#section1 div {
	font-size: 30px;
	color: #004445;
	border-top: 5px solid #eb8242;
	border-right: 5px solid #eb8242;
	border-left: 5px solid #eb8242;
	border-radius: 10px;
	background-color: #eb8242;
	transition: box-shadow 0.5s;
}

#section1 div:hover {
	box-shadow: 0px 0px 20px #da2d2d;
}

#section1 div span {
	font-size: 30px;
	color: #004445;
	background-color: #eb8242;
	box-shadow: 0px 0px 20px #da2d2d;
	border-radius: 10px;
	transition: box-shadow 0.2s;
}

#section1 div span:hover {
	box-shadow: 0px 0px 0px #da2d2d;
}

/*********************** SECTION 1_1 ***********************/

/*********************** SECTION 1_2 ***********************/

.section1_2 {
	display: grid;
	grid-template-columns: 33% 33% 33%;
	grid-column-gap: 5px;
	text-align: center;
	margin-top: 100px;
}

.big {
	font-size: 35px;
	color: #9d0b0b;
}

.big-icon {
	font-size: 60px;
	color: #004445;
	transition: transform 0.5s;
}

.big-icon:hover {
	transform: translate(0,-10px);
}

.section1_2 div h3 {
	color: #da2d2d;
}

.section1_2 div p {
	color: #9d0b0b;
}

/*********************** SECTION 1_2 ***********************/

/*********************** SECTION 1_2.1 ***********************/

#faucetfeatures {
	margin-top: 150px;
}

.section1_2.1 {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-column-gap: 5px;
	text-align: center;
	margin-top: 50px;
}

/*********************** SECTION 1_2.1 ***********************/

/*********************** SECTION 1_3 ***********************/

.section1_3 {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-column-gap: 5px;
	text-align: center;
	margin-top: 50px;
}

#statistic {
	margin-top: 150px;
}

#statistic_h1 {
	text-align: center;
	font-size: 40px;
	color: #9d0b0b;
}

.section1_3 h1 {
	font-size: 35px;
	color: #eb8242;
	border-radius: 50%;
}

.section1_3 span {
	font-size: 35px;
	color: #9d0b0b;
}

.section1_3 p {
	font-size: 20px;
	color: #004445;
	border-radius: 50%;
}

.statistic_div {
	margin: 20px;
	border-left: 15px solid #004445;
	border-right: 15px solid #004445;
	border-radius: 50%;
	padding: 10px;
	transition: transform 0.5s, box-shadow 0.5s;
}

.statistic_div:hover {
	transform: translate(0,-10px);
	box-shadow: 0px 10px 5px #eb8242;
}

.statistic_icon {
	color: #004445;
	font-size: 30px;
}

/*********************** SECTION 1_3 ***********************/